<div class="container">
  <div class="card">
    <h4>Bienvenido al reporte de horas extra</h4>
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <div class="form-group mb-3">
        <label for="email" class="form-label">Correo electrónico</label>
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          [(ngModel)]="email"
          (ngModelChange)="onEmailChange()"
          [class.is-invalid]="!isEmailValid"
          required
          email
          placeholder="Ingrese su correo electrónico"
        />
        <div class="invalid-feedback" *ngIf="!isEmailValid">
          Por favor, ingrese un correo electrónico válido.
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          [(ngModel)]="password"
          (ngModelChange)="onPasswordChange()"
          [class.is-invalid]="password.length < 6"
          required
          placeholder="Ingrese su contraseña"
        />
        <div class="invalid-feedback" *ngIf="password.length < 6">
          La contraseña debe tener al menos 6 caracteres.
        </div>
      </div>

      <div *ngIf="showLoginError" class="alert" [ngClass]="{ 'alert-success': isLoginSuccess, 'alert-danger': !isLoginSuccess }">
        {{ errorMessage }}
      </div>

      <button
        [disabled]="password.length < 6 || !isEmailValid"
        type="submit"
        class="btn btn-primary w-100"
      >
        Iniciar sesión
      </button>
    </form>
  </div>
</div>